<ul class="menu-ul">

    <li class="menu-li"><a href="/">Home</a></li>
    <li class="menu-li"><a href="/Faq">Faq</a></li>
    <li class="menu-li"><a href="/slide-show">SlideShow</a></li>
    <li class="menu-li"><a href="/terms">Terms</a></li>
    <li class="menu-li"><a href="/terms">Privacy Policy</a></li>

</ul>